header{
    background-color: black;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;
    height: 80px;
    justify-content: flex-start;
}

.stepca{
    margin-left: 10%;
}

body{
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
}

.r{
    margin-left: 10%;
}

.header {
    padding: 5px 8px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: powderblue;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #B0C4DE;
}

.header:hover {
    background-color: skyblue;
}

.header:active {
    background-color: cadetblue;
    box-shadow: 0 5px #B0C4DE;
    transform: translateY(4px);
}

main{
    background-color: darkslateblue;
}
