header{
    background-color: #7858AF;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    height: 80px;
    justify-content: flex-start;
}

.stepca{
    margin-left: 10%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.r{
    margin-left: 10%;
}

.header {
    padding: 5px 8px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: powderblue;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #B0C4DE;
}

.header:hover {
    background-color: skyblue;
}

.header:active {
    background-color: cadetblue;
    box-shadow: 0 5px #B0C4DE;
    transform: translateY(4px);
}

main{
    background-color: black;
}

section{
    margin-left: 10%;
    width: 30%;
    border: 4mm ridge rgba(120, 88, 175, .6);
    background-color: #3D3151;
}

article{
    width: 92%;
    border: 4mm ridge rgba(120, 88, 175, .6);
    background-color: #3D3151;
}

h3{
    color: white;
}

p{
    color: white;
}

footer{
    background-color: #7858AF;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    height: 80px;
    justify-content: flex-start;
}